<<<<<<< HEAD
ul {
  color: green; }

body {
  margin: auto;
  padding: inherit; }
=======
ul {
  color: green; }

body {
  margin: auto;
  padding: inherit; }
>>>>>>> e604eb7e954979594c79a2fd0cdc0eb15fe92cbe
