/* @media (min-width: 1480px){ */

*{
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}
.menu{
  z-index: 20;
  display: none;
}
body{
  background: #DFDFDF;
  text-align: center;
  overflow-x: hidden;
}
header{
  background: #8ECDF6;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 10;
}
a{
  color: white;
  text-decoration: none;
}

#btn-scroll-up{
    height: 35px;
    width: 35px;
    color: black;
    position: fixed;
    bottom: 40px;
    right: 30px;
    cursor: pointer;
    /* border-width: 1.5px;
    border-color: white;
    border-style: solid; */
    /* border-radius: 40px; */
    background-color: rgba(120, 120, 118, 0.7);;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0.3;
    transition: all 0.5s ease-in;
    z-index: 2;
}

#btn-scroll-up::before{
    content: '	\2B06';
    font-size: 23px;
    color: white;
    /* padding-top: 3px; */
  }
.btn-scroll-up::before{
    content: '\1F845';
    font-size: 30px;
}

#btn-scroll-up:hover{
  opacity: 1;
}

#btn-scroll-up-show{
  display: block;
}

.nav-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  cursor: pointer;
  line-height: 1;
}

.nav::after{
  display: flex;
  justify-content: center;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  content: "";
  transition: width 0.2s ease-out;
}

.nav:hover::after, .nav:focus::after{
width: 100%;
}

.logo{
  height: 70px;
  background-image: url(../images/Logo Misha.jpg);
}

li{
    padding-left: 10vh;
    font-size: 100%;
}

.design{
  max-width: 100em;
  margin: 0;
  padding: 0;
  width: 1500px;
  height: 100%;
}

.section-main__logo{
   vertical-align: top;
}

.image{
  background-image: url(../images/paper.jpg);
  background-size: cover;
 	position	: relative;
  margin: 0;
  padding: 0;
  height: auto;
  min-width: 100%;
 }

.image-text{
 	position	: absolute;
 	top: 300px;
 	left: 0;
 	width: 100%;
  color: white;
  font-size: 70px;
  font-weight: normal;
 }

.section-main__button{
  position: relative;
  height: 100px;
  padding-top: 85vh;
}

 .section-about__title, .section-service__title, .section-review__title, .section-contact__title, .projects__title{
  color: #8ECDF6;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin: 40px;
  }

  .section-about{
    position	: relative;
   	width		: 100%;
    max-width: 100em;
    margin: 30px;;
    padding: 0;
    width: 1500px;
    height: auto;
  }

  .section-about__text{
   margin: 50px;
   font-size: 20px;
   display: flex;
  }

  .section-service{
    background-color: #8ECDF6;
    display: block;

  }
  .section-service__title{
    color: white;
    padding-top: 30px;
  }
  /* Анимация */

  .wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

.card{
    width: 350px;
    height: 350px;
    perspective: 1000px;
  }

.back{
transform: rotateY(180deg);
}

.front,.back{
position: absolute;
backface-visibility: hidden;
transition: 1s;
}

.card:hover .front{
  transform: rotateY(180deg);
}

.card:hover .back{
  transform: rotateY(360deg);
}

.projects{
  width: 100%;
}
.slick-wrapper{
  height: 400px;
  margin-top: 70px;
}
.slick-container{
  width: 100%;
}


.section-review__content-container-raw{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: 50px; */
}

.section-review__content_block_col-lg-4{
width: 350px;
height: 250px;
}

.section-review__content_block_line-1, .section-review__content_block_line-2::after{
content: '';
display: flex;
width: 5px;
height: 70px;
background-color:  #8ECDF6;
margin-top: 40px;
}

.section-contact{
  background: #8ECDF6;
  background-size: 100%;
  height: 250px;
}

.section-contact__title{
  color: white;
  padding-top: 20px;
}

.contact{
  color: white;
  text-decoration: none;
  list-style: none;
  text-align: left;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-contact__content{
  display: flex;
  justify-content: center;
}

footer{
  height: 60px;
  width: 100%;
  padding-top: 30px;
}
footer::after{
color: #8ECDF6;
content: '';
/* display: flex;
justify-content: center; */
width: 70px;
height: 5px;
background-color:  #8ECDF6;
margin-top: 40px;

}
